body{
background-color: #FFFFFF;
/* font-family: 'Special Elite'; */
font-family: 'Montserrat', sans-serif;
}

html {
  overflow-y: scroll;
}

/* HEADING  */

.heading h1{
    text-align: center;
    letter-spacing: 25;
    font-size: 25;
    margin: o auto;
}

/* NAVIGATION BAR */

.nav{
    margin-top: 20;
    width: 60%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 9px 12px;
}

.nav a{
    padding-top: 10;
    padding-bottom: 10;
  display: inline;
  float: left;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;

  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.nav a:hover{
    color: transparent;
    transition: 3000ms ease;
    
  }


.nav .icon{
  display: none;
}  

/* CONTACT */

.contact-row{
    display: flex;
    padding-top: 5;
    width: 60%;
    overflow: auto;
    align-items: center;
    margin: 0 auto;
  } 
  
.contact-column{
      flex: 25%;
  }

.contact-row img{
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    filter: grayscale(100%);
    opacity: 0.80;
}

.contact-row img:hover{
    filter: grayscale(0%);
    opacity: 1;
}

/* ABOUT */

.about p{
  padding-top: 40;
  width: 60%;
  overflow: auto;
  text-align: left;
  margin: 0 auto;
  line-height: 2;
}

.resume {
  text-align: center;
}

.resume button{
  padding: 5px 10px 5px 10px;
  margin-top: 40;
  background: transparent;
  border-radius: 5px;
  color: transparent;
  font-size: 21px;
  
  border: solid 1.5px black;
  
}

  /* background: linear-gradient(90deg, red, orange, rgb(134, 134, 15), green, blue, purple);
  background-clip: content-box;
  -webkit-background-clip: content-box; */
/* } */

.resume button:hover{
  border-color: transparent;
  background-image: linear-gradient(90deg, red, orange, rgb(133, 133, 44), green, blue, purple);
  background-origin: border-box;
  background-clip:  border-box;
  box-shadow: 2px 1000px 1px #fff inset;

  color: transparent;
  transition: 500ms ease;
}

.resume a{
  color: black;
  background: linear-gradient(90deg, red, orange, rgb(134, 134, 15), green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.resume a:hover{
  color: transparent;
  transition: 000ms ease;
}



/* DESIGN */

.design-div p{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.design-div h1 {
  padding-top: 40;
  width: 60%;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
} 


#design-div {
  display: none;
}

.college-fests:hover{
  transform: scale(1.1);
}


.puma:hover {
  transform: scale(1.1);
}

.meraki:hover {
  transform: scale(1.1);
}


/* DEVELOPMENT */

.development-div h1{
  padding-top: 40;
  width: 60%;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}

.development-div p{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.development-div {
  transition: transform 0.2s;
}

.development-div h1:hover{
  transform: scale(1.1);
}

.development-div h3:hover{
  transform: scale(1.1);
}

.development-div p:hover{
  transform: scale(1.1);
}

.light-rig:hover {
  transform: scale(1.1);
}

.voice-assistant:hover, .pyqt-tool:hover, .light-rig:hover{
  transform: scale(1.1);
}

#development-div{
  display: none;
}

/* JUKEBOX */

.jukebox p{
  padding-top: 40;
  width: 60%;
  overflow: auto;
  text-align: left;
  margin: 0 auto;
  line-height: 2;
}


#jukebox-div{
  display: none;
}

a{
  text-decoration: none;
  color: inherit;
}


.nav .icon{
  display: none;
  color: white;
  text-decoration-color: white;
  background-color: w;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


 @media screen and (max-width: 710px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 710px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 
