body{
background-color: #FFFFFF;
font-family: 'Special Elite';

}

.heading h1{
    text-align: center;
    letter-spacing: 25;
    font-size: 25;
    margin: o auto;
}



.nav{
    margin-top: 20;
    width: 50%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    align-items: center;
    margin: 0 auto;
}

.nav a{
    padding-top: 10;
    padding-bottom: 10;
  display: inline;
  float: left;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;

  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}



.nav a:hover{
    color: transparent;
    transition: 3000ms ease;
    
  }


  .main-div p{
    padding-top: 40;
    width: 50%;
    overflow: auto;
    text-align: left;
    margin: 0 auto;
  }

.navbar a.active {
    background-color: #1E90FF;
  }

/* Hide the link that should open and close the topnav on small screens */
.nav .icon{
  display: none;
}  

  .contact-row{
    display: flex;
    padding-top: 5;
    width: 50%;
    overflow: auto;
    align-items: center;
    margin: 0 auto;
  } 
  
  .contact-column{
      flex: 33.33%;
  }

.contact-row img{
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    filter: grayscale(100%);
}

.contact-row img:hover{
    filter: grayscale(0%)
}










 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 
